<div class="wrapper">
  <%= render partial: "channels" %>
  <%= render partial: "channel_messages" %>
</div>

<div class="overlay">
  <%= render partial: "shared/overlay" %>
  <%= render partial: "shared/overlay_type" %>
</div>


