<div class="flex-container">
  <div class="flex-item">
    <img src="https://avatars.slack-edge.com/2020-10-12/1418393192325_a55bbafd0056bbddcb32_88.png" class="ws_icon">
    <p>general<br />
      10人 <a href="#">削除</a></p>
    <p class="add_channel">+ チャンネルを追加</p>
  </div>

  <div class="row-item">
    <h3 class="text-center channel_title"># general</h3>

    <div class="contents">
      <div>
        <p class="text-center">○月○日以降、このチャンネルに参加してから○日後のユーザーにボットから「DM」します</p>
      </div>

      <div class="stat">
        <p>送信済合計 1234 / 既読数合計 998</p>
      </div>

      <div class="add_message">
        <%= link_to "+ メッセージを追加", new_channel_message_path(1), class: "add_message_link" %>
      </div>

      <div class="messages">
        <div class="post_datetime text-divider">
          <p class="post_datetime_label">3日後の10:00</p>
        </div>
        <div class="post_menu">
          <a href="#">編集</a><br />
          <a href="#">削除</a><br />
        </div>

        <div class="post_contents">
          <div class="icon">
            <img src="https://ca.slack-edge.com/T010E4HB6R4-U010BU9GGBX-d79dd0119a68-512" class="post_icon">
          </div>
          <div class="post_data">
            <div class="post_name">
              <p><%= @user_info_realname %></p>
            </div>
            <div class="post_content">
              <p>何か質問してみましょう</p>
              <p><a href="https://business-textbooks.com/qanda-faq-difference/">https://business-textbooks.com/qanda-faq-difference/</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="messages">
        <div class="post_datetime text-divider">
          <p class="post_datetime_label">5日後の10:00</p>
        </div>
        <div class="post_menu">
          <a href="#">編集</a><br />
          <a href="#">削除</a><br />
        </div>

        <div class="post_contents">
          <div class="icon">
            <img src="https://ca.slack-edge.com/T010E4HB6R4-U010BU9GGBX-d79dd0119a68-512" class="post_icon">
          </div>
          <div class="post_data">
            <div class="post_name">
              <p>sdk-quadra</p>
            </div>
            <div class="post_content">
              <p>何か困っている事ありますか？</p>
              <img src="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmaisuma.jp%2Ftoppage%2Fimg%2Fcolumn%2F53%2F1.jpg" class="post_img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
