<div class="message">
  <div class="message__channel-title">
    <%= link_to "<", workspace_channel_path(@workspace, @channel), class: "back" %>
    <h3 class="message__channel-name">
      # <%= @channel.name %>
    </h3>
  </div>
  <%= render 'form', workspace: @workspace, channel: @channel, message: @message %>
</div>
