.message
  .message__channel-title
    = link_to workspace_channel_path(@workspace, @channel), class: "back" do
      i[class="fas fa-chevron-left"]

    h3.message__channel-name
      = "# #{@channel.name}"

    = render partial: "shared/icon/sign_out"

  = render 'form', workspace: @workspace, channel: @channel, message: @message
