<div class="message">
  <div class="message__channel-title">
    <%= link_to workspace_channel_path(@workspace, @channel), class: "back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>

    <h3 class="message__channel-name">
      # <%= @channel.name %>
    </h3>

    <%= render partial: "shared/icon/sign_out" %>
  </div>
  <%= render 'form', workspace: @workspace, channel: @channel, message: @message %>
</div>
