<div id="overlay-commit-message">
  <div class="modal">
    <div class="modal__image">
      <%= image_tag "check.png" %>
    </div>
    <div class="modal__title">メッセージを登録しました</div>
    <div class="modal__button">
      <button class="modal__cancel">戻る</button>
    </div>
  </div>
</div>
