<div id="overlay-delete-image">
  <div class="modal">
    <div class="modal__title">画像を削除しますか？</div>
    <div class="modal__button">
      <button class="modal__cancel">キャンセル</button>
      <button class="modal__delete-image">削除する</button>
    </div>
  </div>
</div>
