#overlay-delete-message
  .modal
    .modal__title
      | このメッセージを削除しますか？
    .modal__button
      button.modal__cancel
        | キャンセル
      button[class="modal__delete-message" id="delete-message-num" value="message-0"]
        | 削除する
