<div id="overlay-delete-message">
  <div class="modal">
    <div class="modal__title">このメッセージを削除しますか？</div>
    <div class="modal__button">
      <button class="modal__cancel">キャンセル</button>
      <button class="modal__delete-message" id="delete-message-num" value="message-0">削除する</button>
    </div>
  </div>
</div>
