<h1>ワークスペース</h1>

<% @workspaces.each do |workspace| %>
  <%= image_tag workspace.icon_url %>
  <%= link_to workspace.name, workspace_channel_path(workspace.app.id, general_channel(workspace.app.id)) %><br />
<% end %>
