<div class="workspaces">

  <h1 class="workspaces__title">Slack De Step</h1>

  <div class="workspaces__desc">
    <p class="workspaces__desc-title">ワークスペースを選択</p>
    <p class="workspaces__desc-note">これまで連携したワークスペース</p>
  </div>

  <div class="workspace-list">

    <% @workspaces.each do |workspace| %>
      <div class="workspace">
        <%= link_to image_tag(workspace.icon_url, class: "workspace__icon"), workspace_channel_path(workspace.id, general_channel(workspace.app.id)), class: "workspace__name" %>
        <p class="workspace__name"><%= link_to workspace.name, workspace_channel_path(workspace.id, general_channel(workspace.app.id)) %></p>
      </div>
    <% end %>

    <div class="workspace workspace-add">
      <%= link_to image_tag("add.png", class: "workspace__icon"), "/", class: "workspace__name" %>
      <p class="workspace__name"><%= link_to "新規追加", "/" %></p>
    </div>

  </div>
</div>
