<div class="lp__feature">
  <%= image_tag "start-up.svg", class: "lp__feature-image" %>
  <h3 class="lp__feature-title">○日経ったら送信：</h3>
  <p class="lp__feature-desc">slackのチャンネルに参加して○日経ったユーザーに対して、メッセージを自動で送信できます。</p>
</div>

<div class="lp__feature">
  <%= image_tag "development.svg", class: "lp__feature-image" %>
  <h3 class="lp__feature-title">既読数が分かる：</h3>
  <p class="lp__feature-desc">合計の既読数、送信数が分かります。</p>
</div>

<div class="lp__feature">
  <%= image_tag "speed-optimisation.svg", class: "lp__feature-image" %>
  <h3 class="lp__feature-title">アカウント登録は不要：</h3>
  <p class="lp__feature-desc">slackのアカウントさえあればすぐに利用できます。slack de stepには登録不要！</p>
</div>
