<div class="lp__header-items">
  <h3 class="lp__logo">
    Slack De Step
  </h3>
  <%= link_to "https://slack.com/oauth/v2/authorize?client_id=1014153380854.1396596614065&scope=channels:history,channels:join,channels:read,chat:write,files:write,im:history,im:read,team:read,users:read&user_scope=identity.avatar,identity.basic,identity.email,identity.team", class: "lp__sign-in-link" do %>
    <%= image_tag "sign_in_with_slack@2x.png", class: "lp__header-sign-in-image" %>
  <% end %>
</div>
