.lp-how-to-use__wrapper
  h2.lp-how-to-use__title
    | 使い方はかんたん！3つのステップで使えます

  .lp-how-to-use__step
    .lp-how-to-use__step-text
      h3.lp-how-to-use__step-title
        | step 1
      .lp-how-to-use__step-desc
        | 「sign in with slack」ボタンをクリック！<br>アクセスを許可します
    = image_tag "step_1.png", class: "lp-how-to-use__step-image"

  .lp-how-to-use__step
    = image_tag "step_2.png", class: "lp-how-to-use__step-image"

    .lp-how-to-use__step-text
      h3.lp-how-to-use__step-title
        | step 2

      .lp-how-to-use__step-desc
        | メッセージを送りたいチャンネルを選択。<br>「メッセージを追加」します

  .lp-how-to-use__step
    .lp-how-to-use__step-text
      h3.lp-how-to-use__step-title
        | step 3

      .lp-how-to-use__step-desc
        | DMを送りたいタイミングを指定して登録。<br>もちろんテスト送信もできます！

    = image_tag "step_3.png", class: "lp-how-to-use__step-image"

  .lp-how-to-use__cta
    h3
      | 今すぐ無料で使ってみる<br />↓↓↓
    = link_to "https://slack.com/oauth/v2/authorize?client_id=#{ENV["SLACK_CLIENT_ID"]}&scope=channels:history,channels:join,channels:read,chat:write,files:write,im:history,im:read,team:read,users:read&user_scope=identity.avatar,identity.basic,identity.email,identity.team", class: "lp__sign-in-link" do
      = image_tag "sign_in_with_slack@2x.png", class: "lp__sign-in-image-large"
