.lp
  = render partial: "flash"

  .lp__header
    = render partial: "header"

  .lp__firstview
    = render partial: "first_view"

.lp-how-to-use
  = render partial: "how_to_use"

footer
  a[href="/privacy_policy"]
    | プライバシー・ポリシー
