<div class="landing-page">
  <h1 class="landing-page-title">相対日時でslackメッセージを送る<br />
    <span class="landing-page-title__app-name">Slack De Step</span></h1>

  <div class="landing-page-desc">
    <p>slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.slack de step 説明文.</p>
  </div>

  <div class="landing-page-cta">
    <p>今すぐ使ってみる</p>
    <%= link_to image_tag("https://platform.slack-edge.com/img/sign_in_with_slack.png"), 'https://slack.com/oauth/v2/authorize?client_id=1014153380854.1396596614065&scope=channels:history,channels:join,channels:read,chat:write,files:write,im:history,im:read,team:read,users:read&user_scope=identity.avatar,identity.basic,identity.email,identity.team' %>
  </div>
</div>
