<div class="sign-out">
  <i class="fas fa-ellipsis-v sign-out__icon"></i>
  <ul class="sign-out__menu">
    <li class="sign-out__list">
      <%= link_to "ログアウト", sessions_destroy_path, class: "sign-out__link" %>
    </li>
  </ul>
</div>
