$white: white;
$black: black;
$weakgray: #e7e9ed;
$stronggray: #444444;
$lightsilver: #cfcfcf;
$gainsboro: gainsboro;
$slackpurple: #34163b;
$slacklightpurple: #611f69;
$slackblue: #1264a3;
$slacklightblue: #31beeb;

$slackpink: #ce375c;
$slackgreen: #5bb281;

$littlesmaller: 0.9rem;
$formfontsize: 16px;

$lpwidth: 1200px;
