// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-item {
  width: 12rem;
  background-color: #e7e9ed;
  padding:1rem;
}

.contents {
  padding: 0rem 1rem 1rem;
}

.row-item {
  width: 100%;
}

.text-center {
  text-align: center;
}

.ws_icon {
  width: 50px;
  height: 50px;
}

.add_channel {
  color: #666;
  text-decoration: none;
}
.channel_title {
  margin-top: 0;
  background-color: #34163b;
  color: white;
  padding: 1rem;
}
.stat {
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}

.messages {

}

.post_menu {
  text-align: right;
  font-size: 0.8rem;
  color: #666;
}

.post_datetime {
  text-align: center;
  margin-bottom: 1rem;
}

.post_datetime_label {
  border: 1px solid #ccc;
  width: 10rem;
  margin: 0 auto;
  border-radius: 5px;
}

.text-divider {
  display: flex;
  align-items: center;
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: #ccc;
  flex-grow: 1;
}

.add_message {
  font-size: 1.1rem;
  margin: 1rem 7rem 2rem;
  text-align: center;
  border: 1px solid #666;
  padding: 2rem 0;
}

.add_message_link {
  text-decoration: none;
  color: black;
}

.post_data {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;
}

.post_name {
  font-weight: bold;
}

.post_name > p {
  margin-top: 0;
}
.post_icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.post_img {
  border-radius: 5px;
  max-width: 200px;
  max-height: 200px;
}

.post_contents {
  display: flex;
  flex-direction: row;
}

.posted_stat {
  color: #666;
  font-size: 0.8rem;
}

.pg {
  color: red;
}
