// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrapper {
  display: flex;
  flex-direction: row;
}

.channels {
  width: 12rem;
  background-color: #e7e9ed;
  min-height: 40rem;

  &__ws-icon {
    padding: 1rem 1rem 0.3rem;
    border-radius: 2px;
    width: 50px;
  }

  &__add-channel {
    color: #666;
  }
}

.channel {
  padding: 0.3rem 1rem;

  &__e__selected {
    background-color: #CCCCCC;
  }
}

.channel-messages {
  width: 100%;

  &__channel-title {
    background-color: #34163b;
    color: white;
    display: flex;
  }

  &__channel-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem 0rem 1rem 1rem;
    text-align: center;
    flex-grow: 100;
  }

  &__desc {
    text-align: center;
  }

  &__stat {
    color: #666;
    font-size: 0.9rem;
    text-align: center;
  }

  &__add-message {
    font-size: 1.1rem;
    margin: 1rem 7rem 2rem;
    text-align: center;
    border: 1px solid #666;
    padding: 2rem 0;
  }

  &__add-message-link {
    text-decoration: none;
    color: black;
  }
}

.channel-message {
  display: flex;
  flex-direction: row;
  padding: 1rem;

  &__sender-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  &__post-datetime-label {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__post-datetime {
    border: 1px solid #ccc;
    width: 10rem;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.channel-message-menu {
  text-align: right;
  font-size: 0.8rem;
  color: #666;
  margin: 1rem;
}
.channel-message-data {
  font-size: 0.9rem;
  padding: 0 1rem 1rem;

  &__sender-name {
    font-weight: bold;
  }

  &__sender-name > p {
    margin-top: 0;
  }

  &__img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 2px;
  }
}

.channel-message-divider {
  display: flex;
  align-items: center;
}

.channel-message-divider::before,
.channel-message-divider::after {
  content: '';
  height: 1px;
  background-color: #ccc;
  flex-grow: 1;
}
