@import "variables";

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 70rem;
}

.channels {
  background-color: $weakgray;
  padding-bottom: 5rem;

  &__workspace-info {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  &__workspace-icon {
    border-radius: 2px;
    width: 50px;
    margin-right: 1rem;
  }
  &__workspace-name {
  }
  &__about-number-of-people {
    padding: 1rem 1.5rem;
    font-size: $littlesmaller;
    cursor: pointer;
  }
}

.fa-info {
  margin-right: 0.3rem;
  color: $slackpurple;
}

.channel {
  padding: 1rem 1.5rem;

  &:hover {
    background-color: $lightsilver;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12rem;
  }
  &__name-link {
    color: $black;
    text-decoration: none;
    font-weight: bold;
  }
  &__number-of-people {
    color: $stronggray;
    font-size: $littlesmaller;
  }
  &__e__selected {
    background-color: $lightsilver;
  }
}

.channel-messages {
  width: 100%;

  &__channel-title {
    background-color: $slackpurple;
    color: $white;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    height: 4.2rem;
    position: relative;
  }

  &__channel-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem 0rem 1rem 2rem;
    text-align: center;
    flex-grow: 100;
  }

  &__desc {
    text-align: center;
  }

  &__stat {
    color: $stronggray;
    font-size: $littlesmaller;
    text-align: center;
  }

  &__add-message {
    text-align: center;
    padding: 2rem 0;
  }

  &__add-message-link {
    background-color: $slackblue;
    border-radius: 3px;
    border: 1px solid $slackblue;
    color: $white;
    padding: 1rem 3rem;
    cursor: pointer;
    width: 8rem;
    margin: 0.3rem;
    text-decoration: none;
  }
}

.channel-message {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1.5rem 1rem;
  position: relative;

  &__post-datetime-label {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__post-datetime {
    border: 1px solid $gainsboro;
    width: 10rem;
    margin: 0 auto;
    border-radius: 15px;
    padding: 0.2rem 0.5rem;
  }
  &__sender-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  &__no-message-yet {
    text-align: center;
    padding: 5rem;
  }
  &__no-message-yet-image {
    width: 180px;
  }
}

.channel-message-data {
  padding: 0 1rem 1rem;
  width: 90%;

  &__sender-name {
    font-weight: bold;
  }
  &__content {
    color: $stronggray;
  }
  &__content > p > a {
    color: $slackblue;
    text-decoration: none;
  }
  &__image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 2px;
  }
  &__state {
    font-size: $littlesmaller;
    color: $stronggray;
    margin-top: 1rem;
  }
  &__modification {
    position: absolute;
    top: 2.8rem;
    right: 1.5rem;
  }
  &__modification-menu {
    list-style: none;
    margin-top: 2rem;
    display: none;
    max-width: 30rem;
    border: 1px solid $lightsilver;
    border-radius: 3px;
    background-color: $white;
    padding-left: 0;
  }
  &__modification-list {
    padding: 0.2rem 1rem;
    text-align: center;
    cursor: pointer;
  }
  &__processing {
    padding: 0.2rem 1rem;
    text-align: center;
  }
  &__modification-list:hover {
    background-color: $gainsboro;
  }
  &__modification-link {
    color: $stronggray;
    text-decoration: none;
  }
  &__modification-icon {
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
  &__modification-icon:hover {
    background-color: $weakgray;
    border-radius: 3px;
  }
  &__delete-message-link {
    display: none;
  }
}

.channel-message-divider {
  display: flex;
  align-items: center;

  &::before, &::after {
    content: '';
    height: 1px;
    background-color: $gainsboro;
    flex-grow: 1;
  }
}
.channel-message-list:last-child {
  margin-bottom: 2rem;
}


#overlay-delete-message,
#overlay-commit-message,
#overlay-test-submit,
#overlay-delete-image,
#overlay-channels-info {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.modal {
  width: 20rem;
  height: 15rem;
  padding: 1rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $lightsilver;
  transform: translate(-50%,-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__image {
    padding-bottom: 0.5rem;
  }
  &__image > img {
    width: 100px;
  }
  &__title {
    font-weight: bold;
    padding-bottom: 1.5rem;
  }
  &__desc {
    padding-bottom: 1.5rem;
  }
  &__cancel {
    background: none;
    border-radius: 3px;
    border: 1px solid $slackblue;
    color: $slackblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 8rem;
    margin: 0.3rem;
  }
  &__delete-message,
  &__delete-image {
    background-color: $slackblue;
    border-radius: 3px;
    border: 1px solid $slackblue;
    color: $white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 8rem;
    margin: 0.3rem;
  }
}
