@import "variables";

.lp {
  margin: 0 auto;
  &__flash {
    text-align: center;
    padding: 1rem;
    color: $white;
    background-color: $slackgreen;
  }
  &__flash-login-failed {
    background-color: $slackpink;
  }
  &__header {
    background-color: $slackpurple;
  }
  &__header-items {
    display: flex;
    align-items: center;
    max-width: $lpwidth;
    margin: 0 auto;
    height: 4.2rem;
  }
  &__logo {
    margin-left: 1rem;
    flex-grow: 1;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.8rem;
  }
  &__logo-link {
    color: $white;
    text-decoration: none;
  }
  &__header-sign-in-image {
    width: 180px;
    padding: 1rem 1rem 0.6rem 0;
  }
  &__contents {
    max-width: $lpwidth;
    margin: 0 auto;
  }
  &__contents-privacy-policy {
    line-height: 2;
    margin-bottom: 5rem;
    padding: 2rem;
  }
  &__firstview {
    margin-bottom: 4rem;
  }
  &__firstview-image {
    line-height: 1.2;
    text-align: center;
    padding-top: 2rem;
    max-width: $lpwidth;
    margin: 2rem auto 0rem;
    background: image-url("conversation_bg.png") no-repeat;
    background-size: $lpwidth;
    height: 570px;
  }
  &__firstview-image > h1 {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  &__firstview-image > p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8;
    margin: 0;
  }
  &__firstview-image > p > span {
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__firstview-cta {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 0;
  }
  &__firstview-cta > p {
    margin-bottom: 0;
  }
  &__firstview-cta > p > span {
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__firstview-cta-arrow {
    width: 200px;
    height: 100px;
    margin: 0.5rem auto;
    display: block;
  }
  &__firstview-cta-sign-in {
    width: 240px;
  }
}

.lp-how-to-use {
  background-color: #f6f6f6;
  &__wrapper {
    max-width: $lpwidth;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
  }
  &__step {
    display: flex;
    margin: 2rem auto 4rem;
    justify-content: space-around;
    align-items: center;
  }
  &__step-title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  &__step-text {
    width: 35%;
    font-size: 110%;
  }
  &__step-image {
    width: 50%;
    border-radius: 5px;
  }
  &__cta {
    text-align: center;
  }
  &__cta > p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__cta-arrow {
    width: 200px;
    height: 100px;
    margin: 0.5rem auto;
    display: block;
  }
  &__cta-sign-in {
    width: 240px;
  }
}

footer {
  background-color: #f6f6f6;
  text-align: center;
  padding: 2rem 1rem;
  font-size: $littlesmaller;
}
footer > a {
  color: $stronggray;
  text-decoration: none;
}
