@import "variables";

.lp {
  margin: 0 auto;
  &__flash {
    text-align: center;
    padding: 1rem;
    color: $white;
    background-color: $slackgreen;
  }
  &__flash-login-failed {
    background-color: $slackpink;
  }
  &__header {
    background-color: $slackpurple;
  }
  &__header-items {
    display: flex;
    align-items: center;
    max-width: $lpwidth;
    margin: 0 auto;
    height: 4.2rem;
  }
  &__logo {
    margin-left: 1rem;
    flex-grow: 1;
    color: white;
  }
  &__header-sign-in-image {
    width: 180px;
    padding: 1rem 1rem 0.6rem 0;
  }
  &__sign-in-image {
    width: 180px;
  }
  &__sign-in-image-large {
    width: 240px;
  }
  &__firstview {
    max-width: $lpwidth;
    margin: 2rem auto 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__firstview-text > h1 {
    margin-top: 0;
  }
  &__firstview-text > h1 > span {
    font-size: 1.2rem;
  }
  &__firstview-image {
    width: 50%;
  }
  &__features {
    display: flex;
    max-width: $lpwidth;
    margin: 2rem auto 4rem;
  }
  &__feature {
    width: 360px;
    padding: 0 20px;
  }
  &__feature-image {
    width: 250px;
    height: 180px;
  }
}

.lp-how-to-use {
  background-color: #f6f6f6;

  &__wrapper {
    max-width: $lpwidth;
    margin: 0 auto;
    padding: 2rem 2rem 4rem;
  }
  &__title {
    text-align: center;
  }
  &__step {
    display: flex;
    margin: 2rem auto 4rem;
    justify-content: space-around;
    align-items: center;
  }
  &__step-title {
    margin-top: 0;
  }
  &__step-text {
    width: 40%;
  }
  &__step-image {
    width: 50%;
    border-radius: 20px;
  }
  &__cta {
    text-align: center;
  }
}
