@import "variables";

.field_with_errors {
  display: inline;
}

.message {
  &__channel-title {
    margin-bottom: 2rem;
    background-color: $slackpurple;;
    color: $white;
    display: flex;
    align-items: center;
    height: 4.2rem;
  }

  &__channel-name {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    flex-grow: 100;
    padding: 1rem 0;
  }
}

.message-form {
  &__errors-title {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  &__errors {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $weakgray;
    color: $slackpink;
  }
  &__title-timing {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  &__push-timing {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $weakgray;
    color: $stronggray;
  }
  &__number {
    padding: 0.3rem;
    border: 1px solid $lightsilver;
    font-size: $formfontsize;
  }
  &__time {
    padding: 0.2rem;
    border: 1px solid $lightsilver;
    font-size: $formfontsize;
  }
  &__title-message {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  &__textarea {
    padding: 0.5rem;
    color: $stronggray;
    border: 1px solid $lightsilver;
    font-size: $formfontsize;
  }
  &__textarea::placeholder {
    color: $placeholder;
  }

  &__submit {
    text-align: center;
    margin: 3rem;
  }

  &__preview-img {
    min-width: 200px;
    min-height: 200px;
    max-width: 475px;
    max-height: 475px;
    border-radius: 3px;
  }

  &__delete-img {
    color: $stronggray;
    font-size: $littlesmaller;
    cursor: pointer;
  }

  &__delete-img:hover {
    text-decoration: underline;
  }

  &__test-submit {
    background: none;
    border-radius: 3px;
    border: 1px solid $slackblue;
    color: $slackblue;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 8rem;
    margin: 0.3rem;
  }

  &__commit {
    background-color: $slackblue;
    border-radius: 3px;
    border: 1px solid $slackblue;
    color: $white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 8rem;
    margin: 0.3rem;
  }
}

.message-body {
  width:  $formwidth;
  margin: 0 auto;
}

.fa-upload {
  color: $stronggray;
  padding: 0.75rem 1rem;
  background-color: $weakgray;
  border-radius: 5px;
  cursor: pointer;

  span {
    font-weight: 200;
    margin-left: 0.5rem;
  }
}

.hidden {
  display: none;
}
