// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.back {
  flex-grow: 1;
  padding: 1rem 0 1rem 1rem;
  color: white;
  text-decoration: none;
}

.message {
  min-height: 40rem;

  &__channel-title {
    margin-bottom: 1.2rem;
    background-color: #34163b;
    color: white;
    display: flex;
  }

  &__channel-name {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    flex-grow: 100;
    padding: 1rem 1rem 1rem 0;
  }
}

.message-form {
  &__title-message {
    font-weight: bold;
    display: block;
  }
  &__title-timing {
    font-weight: bold;
    display: block;
  }
  &__push-timing {
    margin-bottom: 1.2rem;
  }
  &__errors {
    padding-left: 1rem;
    color: red;
  }
}

.message-body {
  width:  30rem;
  margin: 0 auto;
  font-size: 0.9rem;
}

.message-timing {
  width:  34rem;
  margin: 0 auto;
  font-size: 0.9rem;
}

.message-form {
  &__button-submit {
    text-align: center;
    margin: 3rem;
  }

  &__preview-img {
    width: 200px;
  }
}

.hidden {
  display: none;
}
