<div id="overlay-channels-info">
  <div class="modal">
    <div class="modal__title">各チャンネルの人数</div>
    <div class="modal__desc">Slack De Stepをslackに連携してから後に、チャンネルに入ってきた人数です。その人数に対してメッセージが送信されます</div>
    <div class="modal__button">
      <button class="modal__cancel">戻る</button>
    </div>
  </div>
</div>
