<div id="overlay-test-submit">
  <div class="modal">
    <div class="modal__title">テスト送信しました<br />slackを確認してください</div>
    <div class="modal__button">
      <button class="modal__cancel">戻る</button>
    </div>
  </div>
</div>
